*,
*::before,
*::before{
  box-sizing: border-box;
}

/********* Custom Properties ******/
:root{
  --ff-primary: 'Muli', sans-serif;
  --ff-secondary: 'Montserrat';

  --fw-reg: 400;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #00acee;

  --fs-h1:3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

/********* general designs ******/
body{
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  line-height: 1.5;
}

/********* Navigation ******/
.navbar {
  min-height: 70px;
  box-shadow: var(--bs);
}

.logo{
  background: linear-gradient(90deg,#e80a89,#f15b2a);
  border: none;
  font-weight: --fw-bold;
}

/********* Landing Page ******/
.landing-page{
  background-color: var(--clr-dark);
  background-image: url(../img/backgound.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
  align-items: center;
  justify-content: center;
}
.intro__img{
  box-shadow: var(--bs);
  height: 250px;
  grid-area: img;
  min-width: 250px;
  position: relative;
  z-index: 2;
}
.home{
  margin-top: 50px;
  width:200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro-details{
  padding: 0 20px;
}
.section__subtitle--intro{
  background: #3c518d;
  width: 30%;
  padding: 0 20px;
  color: #fff;
}
blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  width: 500px;
  margin: 0.25em 0;
  padding: 0.35em 30px;
  line-height: 1.45;
  position: relative;
  color: #383838;
  }

blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #383838;
  }

  .intro-button{
  }

  .intro-button button{
    color: #383838;
    border-color: #383838;
    border-radius: 0;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 15px;
  }
